<!DOCTYPE html>
<html ng-app="quoteBook">
  <head>
      <meta charset="utf-8">
      <title>Quote Book</title>
      <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
      <main class="main-wrapper" ng-controller="mainCtrl">
        <button class="button" ng-click="addQuote()">Add Quote</button>
        <button class="button" ng-click="removeQuote()">Remove Quote</button>
        <button class="button" ng-click="changeFilter">Filter Quotes</button>

        <br />
        <br />

        <input type="text" placeholder="Text" ng-model="text" />
        <input type="text" placeholder="Author" ng-model="author" />
        <div class="card" ng-repeat="quote in quotes">
          {{quote.text}}
          <br /><br />
          - {{quote.author}}
        </div>
      </main>


      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
      <script src="js/app.js"></script>
      <script src="js/dataService.js"></script>
      <script src="js/mainCtrl.js"></script>
  </body>
</html>
